<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>News Article Analysis</title>
</head>

<body>
  <header>
    <h1>News Article Analysis</h1>
  </header>
  <main>
    <section>
      <form id="theForm" autocomplete="off" onsubmit="Client.submitHandler(event)" method="post">
        <label for="input">Type in a statement or URL of an article to be
          analysed</label></span>
        <input id="input" name="text-input" type="text" required="true" />
        <button type="submit" class="btn">Submit</button>
      </form>
    </section>
    <section id="result-section" class="result-class">
      <h2>Results:</h2>
      <h3>
        Text:
        <span id="text"></span>
      </h3>
      <h3>
        Polarity:
        <span id="polarity"></span>
      </h3>
      <h3>
        Polarity Confidence:
        <span id="polarity_confidence"></span>
      </h3>
      <h3>
        Subjectivity:
        <span id="subjectivity"></span>
      </h3>
      <h3>
        Subjectivity Confidence:
        <span id="subjectivity_confidence"></span>
      </h3>
    </section>
  </main>
  <footer>
    <p>Made using Aylien NLP Api</p>
  </footer>

  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () =>
        navigator.serviceWorker.register("/service-worker.js")
      );
    }
  </script>
</body>

</html>