<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>News Article Analysis</title>
</head>

<body>
  <header>
    <h1>News Article Analysis</h1>
  </header>
  <main class="container">
    <section class="form-section">
      <form id="theForm" class="linkForm" autocomplete="off" onsubmit="Client.submitHandler(event)" method="post">
        <label for="input" class="secondary-text">Type in a statement or URL of an article to be
          analysed</label></span>
        <input id="input" name="text-input" type="text" required="true" />
        <input type="submit" value="Submit" class="btn">
      </form>
    </section>
    <section id="result-section" class="hidden">
      <h2>Results:</h2>
      <h3 class="secondary-text" id="polarity">
        Polarity:
        <span></span>
      </h3>
      <h3 class="secondary-text" id="polarity_confidence">
        Polarity Confidence:
        <span></span>
      </h3>
      <h3 class="secondary-text" id="subjectivity">
        Subjectivity:
        <span></span>
      </h3>
      <h3 class="secondary-text" id="subjectivity_confidence">
        Subjectivity Confidence:
        <span></span>
      </h3>
    </section>
  </main>
  <footer>
    <p>Made using Aylien NLP Api</p>
  </footer>

  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () =>
        navigator.serviceWorker.register("/service-worker.js")
      );
    }
  </script>
</body>

</html>